input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
	margin: 0;
	/*padding: 2px 0px;*/
}

input, textarea, keygen, select, button, isindex {
	text-indent: 2px;
	font-family: "Microsoft YaHei",Arial,sans-serif,宋体b8b\4f53;
}

input {
	text-indent: 2px;
	border: 1px solid #a2bac0;
	background-color: #FFF;
	height: 20px;
  	line-height: 20px;
  	padding: 2px;
  	font-size: 12px;
}
input[type="radio"], input[type="checkbox"] {
	border: none;
	height: auto;
}

.edit input:not([type]){width:120px;}
.edit input.mini{width:25px;}    

.unitBox {
	background-color: #ffffff;/*#eef4f5;*/
}

.treeContainer {
	width:200px;min-width:200px;float:left;overflow-x:hidden;margin-right:5px;border:1px solid #BFD4F0;border-left:0;background-color:#ffffff;
}
.zTreeDiv {
	width:100%;float:left;overflow-x:hidden;margin-top:-5px;margin-right:5px;
}
.hand{cursor:pointer}
:focus{outline:none;outline-offset:0}
textarea{
	resize: none;
	font-family: "Microsoft YaHei",Arial,sans-serif,宋体b8b\4f53;
	letter-spacing: none;
	word-spacing: none;
	color:#3D3E39;
	line-height:20px;
}
textarea.readonly{
	border:none;background-color:white;
	font-size:12px;
	color: #555;
	line-height: 20px;
}

a.no-underline {
	text-decoration:none;
}

a.required {
	font-family: sans-serif;
	color: rgb(249,113,102);
	line-height: 24px;
	height: 24px;
	text-decoration: none;
}
.clearBoth {
	clear:both;
}
table.table{width:100%}
/*文字排序*/
td.center {text-align:center;}
td.left {text-align:left;}
td.right {text-align:right;}
/*按钮样式*/
a.font-gray, a.font-blue, a.font-red{padding:0 5px;height:20px;line-height:20px;color:#FFF;display:inline-block;text-decoration:none;}

.tableDnDDragClass td{font-weight:bold;background-color:#EBF4FE;}
.tableDnDDropClass td{background-color:#EBF4FE;}

table.edit {
	width: 100%;
	border-collapse: none;
	border-spacing: 1px;
	padding: 0px;
	margin: 1px 0 0 0;
	font-family: "Microsoft YaHei",Arial,sans-serif,宋体b8b\4f53;
}

table.edit caption {
	text-align: left;
	line-height: 22px;
	height: 22px;
	text-indent: 13px;
	color:rgb(72,99,251);
	font-size: 14px;
	font-weight: BOLD;
	font-family: "Microsoft YaHei",Arial,sans-serif,宋体b8b\4f53;
	background: url("../image/point_green.gif") no-repeat scroll center left;
}

table.edit tbody th {
	font-size: 13px;
	line-height: 22px;
	text-align: left;
	height: 22px;
	color: #000;
	padding: 2px;
	text-indent: 2px;
	font-weight: normal;
	font-family: "Microsoft YaHei",Arial,sans-serif,宋体b8b\4f53;
}

table.edit tbody td {
	word-break: break-all;
	text-align: left;
	padding: 2px;
	line-height: 22px;
	height: 22px;
	color: #3D3E39;
	background-color: #FFFFFF;
	font-size: 13px;
	font-weight: normal;
	font-family: "Microsoft YaHei",Arial,sans-serif,宋体b8b\4f53;
}

table.edit tbody td.textarea {
	vertical-align:top;
	line-height: 16px;
}

table.list2 {
	width:100%;
}

table.list2 caption {
	padding-bottom: 5px;
	margin-bottom: 5px;
	text-align: left;
	line-height: 22px;
	height: 22px;
	text-indent: 13px;
	color: #3D3E39;
	font-size: 14px;
	font-weight: BOLD;
	font-family: "Microsoft YaHei",Arial,sans-serif,宋体b8b\4f53;
	background: url("../point_green.gif") no-repeat scroll center left;
}

table.list2 thead tr {
	height:26px;
	line-height:26px;
	background: url("../tableth.png") repeat-x scroll 0 0 #F0EFF0;
}

table.list2 thead th {
	text-align: center;
}

table.list2 tbody tr {
	text-align: left;
	line-height: 21px;
	height: 21px;
}

.gridThead th{
	text-align:center;
}

table.edit tbody th.title1{
}
.edit input.w60{width:60px;}
.larger, .edit input.larger{
	width:75%;
}
.point-col span.cable{
	position : relative;
	z-index : 10;
}
/*线缆排布使用*/
.point-col .bred{
	background: #ff7575;
}
/*区域划分使用*/
.point-col.bred{
	background: #ff7575;
}
.point-col.bgray{
	background: #d0d0d0;
}
.point-col.bblue{
	background: #97CBFF;
}
.point-col.byellow{
	background: #FFF0AC;
}
.point-col.bgreen{
	background: #ADFEDC;
}
#temp-sheet .point-col{
	margin:0;
	border: none;
}

#check-time-timeTwo, #ctr-plan-timeTwo{width:95%;padding-left:10px;display:inline-block;}
#check-time-timeTwo label, #ctr-plan-timeTwo label{min-width:70px;display:inline-block;}
.checking .ing{background : url(../pic/loading.gif) no-repeat;width:40px;height:40px;position: absolute;}
.checktitle{width:100%;height:20px;padding-top:10px;background:#f3f7f7}
.checktitle div{margin-left:25px;height:20px;line-height:20px;min-width:25px;float:left;}

.checktitle .checkWarn{background : #ff050b}
.checktitle .checkNormal{background : #73e03c}
.checktitle .checkNo{background : #f3f7f7}

.checktitle .checkNo,.checktitle .checkWarn,.checktitle .checkNormal{border:solid 2px #98bbc4;border-radius:2px;height:16px;}
.btn-norel{display:inline-block;padding:3px;margin:0 5px;cursor: pointer;color:blue;}
.btn-norel:HOVER{text-decoration: none;color:red;}
.news{
	font-family:'微软雅黑','宋体',Verdana;font-size:13px;color:#3A3A3A;
 	height:100%;*height:90%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;
 	margin:0 auto;width:100%;height:100%;background-color:#FFFFFF;padding:10px;
}
.news .item{padding-bottom:7px;margin-bottom:7px;border:none;border-bottom:1px dotted #D2D2D2;}
.news .item .left{font-size:12px;text-align:left;margin:7px 7px 0 0;color:#333333;}
.news .item .right{font-size:12px;text-align:right;margin:7px 7px 0 0;color:#333333;}
.news .title{padding-bottom:7px;margin-bottom:7px;border:none;border-bottom:1px dotted #D2D2D2;}
.news .title .top{font-size:15px;text-align:center;margin-bottom:10px;color:#333333;}
.news .title .left{font-size:12px;text-align:left;float:left;margin-left:7px;color:#D2D2D2;}
.news .title .right{font-size:12px;text-align:right;float:right;margin-right:7px;color:#D2D2D2;}
.news .content{text-align:left;font-weight:normal;}
.news .content p{display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}

#footer {position:absolute; bottom:0; left:0; text-align:center; width:100%; height:30px; padding:0 5px;z-index:-1}
#footer span{display:inline-block;height:29px;line-height: 29px;min-width:60px;}
#footer .copyright{margin:0 auto;}
#footer .version{float:right;margin-right: 50px;}

ul.skin{
    display: inline-block;
    width: 180px;
    height: 22px;
    position: absolute;
    bottom: 3px;
    right: 15px;
}

ul.skin li{
	display: inline-block;
	width:12px;
	height: 12px;
	margin: 2px 5px;
	background: #FFF;
	cursor: pointer;
	border: solid 2px #FFF;
}
ul.skin .green{ background: #0e673a;}
ul.skin .blue{background: #52a6fb;}
ul.skin .gray{background: #8F8F8F;}
ul.skin .pink{background: #FFAAD5;}
ul.skin .golden{background: #f3d603;}
ul.skin .purple{background: #981ebf;}

ul.skin .green.sel,
ul.skin .blue.sel,
ul.skin .gray.sel,
ul.skin .pink.sel,
ul.skin .purple.sel,
ul.skin .golden.sel{border-color: #000}

ul.skin li:hover{
	border-color: #000
}